<div class="container-fluid">
  <!--Row que contiene el banner principal-->
    <div class="row">
      <div class="col mainCol1">
          <div class="col primerTexto">
              Únete al mejor CMS para gestionar tu contenido y tu página web
          </div>
          <div class="separator separator-bottom separator-skew zindex-100">
            <svg class="separador" x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
      </div>
    </div>
    <!--Row que contiene jumbotron con mensajes-->
    <div class="row">
      <div class="col mainCol2">
        <div class="jumbotron jumboPrincipal">
            <h1 class="display-4"><div class="5">Lorem, ipsum</div></h1>
            <p class="lead">dolor sit amet consectetur adipisicing elit. Tenetur facilis laudantium dolor alias qui vero soluta dignissimos dolore eligendi, vel consectetur rerum incidunt sit eveniet.</p>
            <hr class="my-4">
            <p>dolor sit amet consectetur adipisicing elit.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Conoce Más</a>
            </p>
          </div>
      </div>
    </div>

    <!--Row de cartas informativas-->
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
  </div>
