body {
    color: #172B4D;
}
.mainCol1{
    height: 36rem;
    background: linear-gradient(87deg,#5e72e4 0,#825ee4 100%)!important;
    margin-left: 0px;
}

.mainCol2{
    background-color: #172B4D;
    height: 36rem;
}

.separator{
    position:absolute;
    top:auto;right:0;
    left:0;overflow:hidden;
    width:100%;
    height:150px;
    transform:translateZ(0);
    pointer-events:none
}

.separador{
    color: #172B4D;
}

.separator svg{
    position:absolute;
    pointer-events:none
}

.separator-top{
    top:0;bottom:auto
}

.separator-top svg{
    top:0
}

.separator-bottom{
    top:auto;bottom:0
}

.separator-bottom svg{
    bottom:0
}

.separator-inverse{
    transform:rotate(180deg)
}

.separator-skew{
    height:60px
}

@media (min-width:1200px){
    .separator-skew{height:70px}
}

.primerTexto{
        color: white;
        margin-top: 20%;
        margin-bottom: 20%;
        font-size: -webkit-xxx-large;
        text-align: center;
}

.jumboPrincipal{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #00000029;
    color: white;
    text-align: center;
}
  