<div class="container-fluid">
    <div class="row">
      <div class="col mainCol1">
          <div class="col primerTexto">
              Unete al mejor CMS para gestionar tu contenido y tu página web
          </div>
          <div class="separator separator-bottom separator-skew zindex-100">
            <svg class="separador" x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col mainCol2">
        <div class="jumbotron jumboPrincipal">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
      </div>
    </div>
  </div>
